@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Web-приложения баз данных «Парикмахерская"</h1>
    <p>Данный курсовой проект реализован с помощью технологии ASP.NET .Core.</p>
</div>
